.styles_productCardExtendedButtonsSection__FXDDZ { width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-top: 12px; }
.styles_productCardExtendedButtonsSection__FXDDZ .styles_addToCartButtonContainer__r8V_1 { width: 75%; max-width: 128px; }
@media (min-width: 668px) {
  .styles_productCardExtendedButtonsSection__FXDDZ .styles_addToCartButtonContainer__r8V_1 { width: 25%; min-width: 96px; }
}