@layer ndsFoundation;
@layer ndsUtility;
@layer ndsButtonPrimitives;
@layer ndsButton;
@layer ndsTypography;
@layer ndsLayout;
@layer ndsDisclosure;
@layer ndsCheckbox;
@layer ndsRadio;
@layer ndsBadge;
@layer ndsButtonUpload;
@layer ndsContainer;
@layer ndsCard;
@layer ndsDirectionalPad;
@layer ndsImage;
@layer ndsLink;
@layer ndsMarker;
@layer ndsPaginationDots;
@layer ndsPlaceholder;
@layer ndsProgress;
@layer ndsRating;
@layer ndsSpinner;
@layer ndsSwitch;
@layer ndsTabs;
@layer ndsZoomable;
@layer ndsPicture;
@layer ndsAccordion;
@layer ndsFormField;
@layer ndsList;
@layer ndsRibbon;
@layer ndsCell;
@layer ndsChip;
@layer ndsPopover;
@layer ndsBreadcrumb;
@layer ndsButtonConfirmation;
@layer ndsCarousel;
@layer ndsSearchBar;
@layer ndsDatePicker;
@layer ndErrorBucket;
@layer ndsPictureNavigation;
@layer ndsPlaceholderRow;
@layer ndsToast;
@layer ndsCellLegacy;
@layer ndsModal;
@layer ndsMenu;
@layer ndsCoachmark;
@layer ndsPagination;
@layer ndsVariationSelector;
@layer ndsTruncate;
.styles_headerLogo__XKIlh { flex: 0 0 auto; color: var(--color-icon-always-white); height: 85%; margin: 0 var(--space-margin-decoration-xl) 0 var(--space-margin-decoration-sm); display: inline-flex; align-items: center; }
.styles_headerLogo__XKIlh:active, .styles_headerLogo__XKIlh:focus { color: var(--color-icon-always-white); outline: 1px dashed var(--color-icon-always-white); }