@layer ndsFoundation;
@layer ndsUtility;
@layer ndsButtonPrimitives;
@layer ndsButton;
@layer ndsTypography;
@layer ndsLayout;
@layer ndsDisclosure;
@layer ndsCheckbox;
@layer ndsRadio;
@layer ndsBadge;
@layer ndsButtonUpload;
@layer ndsContainer;
@layer ndsCard;
@layer ndsDirectionalPad;
@layer ndsImage;
@layer ndsLink;
@layer ndsMarker;
@layer ndsPaginationDots;
@layer ndsPlaceholder;
@layer ndsProgress;
@layer ndsRating;
@layer ndsSpinner;
@layer ndsSwitch;
@layer ndsTabs;
@layer ndsZoomable;
@layer ndsPicture;
@layer ndsAccordion;
@layer ndsFormField;
@layer ndsList;
@layer ndsRibbon;
@layer ndsCell;
@layer ndsChip;
@layer ndsPopover;
@layer ndsBreadcrumb;
@layer ndsButtonConfirmation;
@layer ndsCarousel;
@layer ndsSearchBar;
@layer ndsDatePicker;
@layer ndErrorBucket;
@layer ndsPictureNavigation;
@layer ndsPlaceholderRow;
@layer ndsToast;
@layer ndsCellLegacy;
@layer ndsModal;
@layer ndsMenu;
@layer ndsCoachmark;
@layer ndsPagination;
@layer ndsVariationSelector;
@layer ndsTruncate;
.styles_storeModeTargetCircleDealsCarouselContainer__R_09N { border-top: 1px solid rgb(214, 214, 214); padding: 16px; }
.styles_storeModeTargetCircleDealsCarouselContainer__R_09N .styles_headingContainer__oeeRN { align-items: center; display: flex; }
.styles_storeModeTargetCircleDealsCarouselContainer__R_09N .styles_subHeading___EB_e { margin-bottom: 0px; font-weight: 400; font-size: 14px; color: rgb(102, 102, 102); }
.styles_storeModeTabsSpinner__FE3WE { margin-top: 50px; margin-bottom: 131px; }
@keyframes styles_pulse-animation__68Svk { 
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}
.styles_placeholder__Pb7oN { background-color: rgb(214, 214, 214); animation-name: styles_pulse-animation__68Svk; animation-duration: 2s; animation-timing-function: ease-in-out; animation-iteration-count: infinite; border-radius: 4px; }
.styles_carouselContainer__RVp_o { margin: 0px 16px; }
.styles_carouselHeadingContainer__KR7IL { display: flex; align-items: center; justify-content: space-between; margin-top: 24px; margin-bottom: 24px; }
.styles_carouselHeading___N3vH { height: 16px; width: 100px; }
.styles_mapTheseItemsLink__L6jUZ { width: 125px; height: 16px; }
.styles_productCardContainer__zcZI4 { display: inline-flex; }
.styles_productCard__CGq9J { height: 315px; width: 164px; margin-right: 8px; }
.view-redesign_wrapper__TyozY { display: grid; margin: 0px auto; grid-template-columns: 1fr; grid-template-areas: "breadcrumb" "info" "map" "actions" "hours" "fulfillment" "features" "recentlyViewed" "featuredCategories" "appDownload" "ads"; gap: var(--space-margin-section-sm); }
@media (min-width: 768px) {
  .view-redesign_wrapper__TyozY { grid-template-areas: "breadcrumb" "info" "actions" "map" "hours" "fulfillment" "features" "recentlyViewed" "featuredCategories" "appDownload" "ads"; margin: 0 var(--space-margin-page-lg); }
}
@media (min-width: 1200px) {
  .view-redesign_wrapper__TyozY { max-width: 1200px; margin: auto; grid-template-columns: repeat(10, 1fr); grid-template-areas: "breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb" "info info info info info info info actions actions actions" "map map map map map map map map map map" "hours hours hours hours hours hours fulfillment fulfillment fulfillment fulfillment" "hours hours hours hours hours hours features features features features" "recentlyViewed recentlyViewed recentlyViewed recentlyViewed recentlyViewed recentlyViewed recentlyViewed recentlyViewed recentlyViewed recentlyViewed" "featuredCategories featuredCategories featuredCategories featuredCategories featuredCategories featuredCategories featuredCategories featuredCategories featuredCategories featuredCategories" "appDownload appDownload appDownload appDownload appDownload appDownload appDownload appDownload appDownload appDownload" "ads ads ads ads ads ads ads ads ads ads"; gap: var(--space-margin-section-md); }
}
.view-redesign_breadcrumb__1x0rx { grid-row-start: breadcrumb; grid-column-start: breadcrumb; grid-row-end: breadcrumb; grid-column-end: breadcrumb; }
.view-redesign_info__TzqSU { grid-row-start: info; grid-column-start: info; grid-row-end: info; grid-column-end: info; }
.view-redesign_actions__LrrKK { grid-row-start: actions; grid-column-start: actions; grid-row-end: actions; grid-column-end: actions; }
@media (min-width: 1200px) {
  .view-redesign_actions__LrrKK { display: flex; justify-content: flex-end; }
}
.view-redesign_map__Odeo3 { grid-row-start: map; grid-column-start: map; grid-row-end: map; grid-column-end: map; }
.view-redesign_hours__AWe8g { grid-row-start: hours; grid-column-start: hours; grid-row-end: hours; grid-column-end: hours; }
.view-redesign_fulfillment__yt8eJ { grid-row-start: fulfillment; grid-column-start: fulfillment; grid-row-end: fulfillment; grid-column-end: fulfillment; }
.view-redesign_features__qtmgP { grid-row-start: features; grid-column-start: features; grid-row-end: features; grid-column-end: features; }
.view-redesign_recentlyViewed__327OU { grid-row-start: recentlyViewed; grid-column-start: recentlyViewed; grid-row-end: recentlyViewed; grid-column-end: recentlyViewed; background-color: rgb(247, 245, 242); }
.view-redesign_featuredCategories__iQ6C7 { grid-row-start: featuredCategories; grid-column-start: featuredCategories; grid-row-end: featuredCategories; grid-column-end: featuredCategories; }
.view-redesign_appDownload__5F2HG { grid-row-start: appDownload; grid-column-start: appDownload; grid-row-end: appDownload; grid-column-end: appDownload; }
.view-redesign_ads__e6Td_ { grid-row-start: ads; grid-column-start: ads; grid-row-end: ads; grid-column-end: ads; justify-self: center; }
.view-redesign_ads__e6Td_ p { margin-bottom: 8px; }
@media (min-width: 768px) {
  .view-redesign_ads__e6Td_ { margin: 0px; padding: var(--space-padding-container-sm) 0; }
}
@media (min-width: 1200px) {
  .view-redesign_ads__e6Td_ { display: flex; margin-left: 48px; }
  .view-redesign_ads__e6Td_ p { position: relative; top: 250px; right: 60px; }
}
.view-cdui_wrapper__5pDKD { display: grid; margin: 0px auto; grid-template-columns: 1fr; grid-template-areas: "aboveTheFoldLeft" "aboveTheFoldRight" "aboveTheFoldFullWidth" "belowTheFoldLeft" "belowTheFoldRight" "belowTheFoldFullWidth"; gap: var(--space-margin-section-sm); }
@media (min-width: 768px) {
  .view-cdui_wrapper__5pDKD { margin: 0 var(--space-margin-page-lg); }
}
@media (min-width: 1200px) {
  .view-cdui_wrapper__5pDKD { max-width: 1200px; margin: auto; grid-template-columns: 1.5fr 1fr; grid-template-areas: "aboveTheFoldLeft aboveTheFoldRight" "aboveTheFoldFullWidth aboveTheFoldFullWidth" "belowTheFoldLeft belowTheFoldRight" "belowTheFoldFullWidth belowTheFoldFullWidth"; gap: var(--space-margin-section-md); }
}
.view-cdui_aboveTheFoldLeft__Et3Hx { grid-row-start: aboveTheFoldLeft; grid-column-start: aboveTheFoldLeft; grid-row-end: aboveTheFoldLeft; grid-column-end: aboveTheFoldLeft; }
.view-cdui_aboveTheFoldRight__Op_pQ { grid-row-start: aboveTheFoldRight; grid-column-start: aboveTheFoldRight; grid-row-end: aboveTheFoldRight; grid-column-end: aboveTheFoldRight; }
@media (min-width: 1200px) {
  .view-cdui_aboveTheFoldRight__Op_pQ { display: flex; justify-content: flex-end; align-items: end; }
}
.view-cdui_aboveTheFoldFullWidth__ddwPQ { grid-row-start: aboveTheFoldFullWidth; grid-column-start: aboveTheFoldFullWidth; grid-row-end: aboveTheFoldFullWidth; grid-column-end: aboveTheFoldFullWidth; }
.view-cdui_belowTheFoldLeft__UJ5SI { grid-row-start: belowTheFoldLeft; grid-column-start: belowTheFoldLeft; grid-row-end: belowTheFoldLeft; grid-column-end: belowTheFoldLeft; }
.view-cdui_belowTheFoldLeft__UJ5SI > div, .view-cdui_belowTheFoldLeft__UJ5SI > div > div { height: 100%; }
.view-cdui_belowTheFoldRight__zyjVK { grid-row-start: belowTheFoldRight; grid-column-start: belowTheFoldRight; grid-row-end: belowTheFoldRight; grid-column-end: belowTheFoldRight; }
.view-cdui_belowTheFoldFullWidth___QnUn { grid-row-start: belowTheFoldFullWidth; grid-column-start: belowTheFoldFullWidth; grid-row-end: belowTheFoldFullWidth; grid-column-end: belowTheFoldFullWidth; }
.styles_container__ZFFIg { display: flex; flex-direction: column; }
@keyframes styles_pulse-animation__oho0x { 
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}
.styles_placeholder__ivji_ { background-color: rgb(214, 214, 214); animation-name: styles_pulse-animation__oho0x; animation-duration: 2s; animation-timing-function: ease-in-out; animation-iteration-count: infinite; border-radius: 4px; }
.styles_headerContainer__9t1cE { margin: 0px 16px; }
.styles_map__tDQRp { width: 100%; min-height: var(--placeholder-height); border-radius: 0px; }
.styles_headerName__NHjzw { width: 155px; height: 12px; margin-top: 24px; }
.styles_headerHours__dZaov { width: 94px; height: 12px; margin-top: 8px; margin-bottom: 20px; }
.styles_searchBar___5u_Z { width: 100%; height: 40px; margin-bottom: 12px; }
.styles_app___H8DR { width: 100%; height: 48px; margin-bottom: 16px; }
.styles_tabsContainer__oit5u { display: flex; justify-content: center; margin-top: 16px; border-bottom: 1px solid rgb(214, 214, 214); }
.styles_tab__NCyG1 { height: 44px; width: 120px; margin-right: 8px; }
.styles_carouselContainer__MbJS3 { margin: 0px 16px; }
.styles_carouselHeadingContainer__wbcpw { display: flex; align-items: center; justify-content: space-between; margin-top: 24px; margin-bottom: 24px; }
.styles_carouselHeading__fUFuq { height: 16px; width: 100px; }
.styles_productCardContainer__7LuYn { display: inline-flex; }
.styles_productCard__vdSs0 { height: 260px; width: 150px; margin-right: 8px; }
.styles_searchBarContainer__rp_dm { margin: 16px 16px 6px; }
.styles_resultsText__jpIbG { width: 180px; margin-top: 28px; margin-left: 16px; height: 16px; }
.styles_productGrid__fzGGg { display: flex; flex-wrap: wrap; gap: 16px; margin-left: 16px; margin-top: 16px; }
.styles_productCardResults__KFaZD { height: 195px; }
.styles_productCardWrapper__YFAZz { flex-basis: calc(100% - 16px); max-width: calc(100% - 16px); }
@media (min-width: 668px) {
  .styles_productCardWrapper__YFAZz { flex-basis: calc(33.3333% - 16px); max-width: calc(33.3333% - 16px); }
}
.styles_locateViewProductCard__uZbFv { height: 200px; width: 100%; margin-top: 8px; }
.styles_realtedCircleDealsProductCard__RjEM_ { height: 150px; width: 100%; margin-top: 8px; }
.styles_relatedCircleDealsText__S8N98 { height: 12px; width: 230px; margin: 16px 0px 12px 16px; }
.styles_offerInfoContainer__Bul5W { margin: 0px 20px; display: flex; align-items: center; }
.styles_checkbox__PmOcI { height: 20px; width: 20px; }
.styles_offerTitle__W_7Zn { height: 20px; width: 120px; margin-top: 8px; }
.styles_offerInfo__MC_A6 { margin: 20px; }
.styles_offerCardTitle__O9Fa8 { height: 15px; width: 240px; margin-bottom: 4px; }
.styles_offerCardSubTitle__bxKpz { height: 15px; width: 140px; margin-bottom: 16px; }
.styles_offerFulfillment__LmK1W { height: 10px; width: 150px; margin-bottom: 8px; }
.styles_redemptionText__by9BQ { height: 10px; width: 170px; margin-bottom: 8px; }
.styles_viewTerms__60Tem { height: 10px; width: 75px; margin-bottom: 8px; }
.styles_pickedForYouHeading__WHEfk { height: 15px; width: 275px; margin: 20px 16px; }
.styles_locateViewCompleteTheSet__US_jX { height: 53px; width: 100%; }
.styles_groceryCategoriesContainer__SG4Q_ { margin: 16px 8px; }
@media (min-width: 1200px) {
  .styles_groceryCategoriesContainer__SG4Q_ { margin: 0px 8px; }
}
.styles_styledHeading__dHkkR { font-size: 19px; margin: 0px 8px 8px; line-height: 1.25; }
@media (max-width: 668px) {
  .styles_categoriesList__VflLL { display: flex; flex-wrap: wrap; justify-content: center; }
}
.styles_categoriesListItem__xjcXD { display: inline-flex; align-items: center; font-size: 12px; padding: 8px; width: 100px; }
.styles_categoriesListItem__xjcXD:hover { text-decoration: underline; color: rgb(0, 0, 0); }
.styles_categoriesListItem__xjcXD img { border-radius: 100%; border: 1px solid rgb(214, 214, 214); margin-bottom: 4px; }
.styles_categoryLink__VJWy3 { display: flex; flex-direction: column; text-align: center; height: 100%; }
.styles_categoryTitle__Hc9Vb { text-align: center; position: relative; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.styles_infoLink__JdnBF { display: flex; align-items: center; padding: 8px; font-size: 14px; color: rgb(54, 108, 217); border-radius: 8px; width: fit-content; font-weight: 700; }
@media (max-width: 992px) {
  .styles_infoLink__JdnBF { margin-left: 16px; }
}
.styles_infoLink__JdnBF:focus { outline: 1px dashed rgb(51, 51, 51); text-decoration: none; }
.styles_infoLink__JdnBF:hover { background-color: rgb(247, 247, 247); }
@media (max-width: 992px) {
  .styles_mapContainer__rDm1O { display: none; }
}
.styles_iconWrapper__oOqgx { margin-right: 8px; }
.styles_componentWrapper__ghbEM { position: relative; display: block; width: 100%; }
.styles_componentWrapper__ghbEM h2:hover { text-decoration-line: underline; text-decoration-thickness: auto; text-decoration-style: solid; text-decoration-color: var(--color-text-base); }
.styles_componentWrapper__ghbEM h2 { color: var(--color-text-base); }
.styles_content__01ZbR { padding-right: 64px; padding-bottom: 64px; padding-left: 64px; padding-top: var(--space-margin-section-xl); position: absolute; }
.styles_content__01ZbR:hover { text-decoration: underline; }
.styles_content__01ZbR { width: 100%; top: 0px; text-align: center; left: 50%; transform: translate(-50%); }
.styles_desktopImage__jpuKC { border-radius: var(--radius-asset); display: none; }
@media (min-width: 768px) {
  .styles_content__01ZbR { padding: 64px; width: 40%; top: 50%; left: 0px; transform: translateY(-50%); text-align: left; }
  .styles_mobileImage__kI3oH { display: none; }
  .styles_desktopImage__jpuKC { display: unset; }
}
@media (max-width: 1200px) {
  .styles_desktopImage__jpuKC { border-radius: 0px; }
}
.styles_instructionsContainer__Maxn_ { background-color: rgb(30, 57, 50); border-radius: 8px; color: rgb(255, 255, 255); display: flex; flex-direction: row; padding: 44px; justify-content: space-between; }
.styles_illustration__CwrRm { border-radius: 50%; height: 175px; width: auto; align-self: center; }
.styles_illustrationTextContainer__P8XoC { display: flex; flex-direction: row; gap: 24px; }
.styles_headline__6Efop { font-size: 29px; font-weight: 700; }
.styles_subhead__2ZOjI { font-size: 16px; }
.styles_textBlock__0Wvga { width: 66%; display: flex; flex-direction: column; justify-content: space-between; gap: 32px; align-self: center; }
.styles_appContainer__kWKWk { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 162px; }
.styles_qrCode__3yO29 { background-color: rgb(255, 255, 255); border-radius: 16px; padding: 16px; margin-bottom: 16px; width: 150px; height: 150px; }
.styles_appStoreButton__jtWyi { height: 48px; width: auto; }
.styles_appContainerContainer__Ydhov { display: flex; flex-direction: row; justify-content: center; gap: 36px; }
.styles_learnMoreLink__ZzD8c { font-size: var(--typography-font-size-100); font-weight: var(--typography-font-weight-bold); text-underline-position: from-font; }
.styles_appStoreLink__rhlFN:focus { outline: 1px dashed rgb(136, 136, 136); outline-offset: 2px; border-radius: 4px; }
.styles_modalHeadingTxt__zOtpv { font-size: var(--typography-font-size-250); }
.styles_preferredStoreContainer___DcQy { border-bottom: 1px solid var(--color-border-subdued); margin-bottom: var(--space-margin-container-xl); }
.styles_capabilityAvailable__bdHFO { color: var(--color-text-success); }
.styles_capabilityUnavailable__f_aPb { color: var(--color-text-disabled); }
.styles_infoIcon___YvOG { color: var(--color-icon-disabled); }
.styles_horizontalDivider__VmUE7 { margin: 0px 0px 0px 50px; }
.styles_buttonContainer__iBytX { margin: 0px -16px; padding: 16px; border-top: 1px solid var(--color-border-subdued); }
.styles_mobileInstructionsContainer__IHBkg { display: flex; padding: var(--space-padding-interactive-md) 16px; flex-direction: column; gap: 16px; border: 1px solid var(--color-border-disabled); }
.styles_header__mKjZS { font-size: var(--typography-font-size-200); font-weight: var(--typography-font-weight-bold); line-height: var(--typography-line-height-headline); }
.styles_instructionsContainer__lKhv9 { display: flex; padding: 16px 16px 24px; flex-direction: column; gap: 12px; color: var(--color-text-always-white); align-items: center; border-radius: 8px; background: rgb(30, 57, 50); }
.styles_subHeader__NrPt2 { font-size: var(--typography-font-size-200); line-height: var(--typography-line-height-body); }
.styles_instructionsList__dLOWZ { display: flex; flex-direction: column; gap: 8px; font-size: var(--typography-font-size-100); }
.styles_instructionListItem__9fVo0 { display: flex; justify-content: flex-start; gap: 16px; align-items: center; }
.styles_instructionListItem__9fVo0 span { padding-left: 4px; }
.styles_instructionText__Qvext { display: flex; flex: 1 1 0%; }
.styles_instructionListItem__9fVo0:nth-child(2n+1) img { border-radius: 50%; }
.styles_driveUpBtn__zgnOq { font-size: var(--typography-font-size-100); width: 100%; max-width: 410px; height: 32px !important; }
.styles_unavailableSubHeader__qyKyE { color: var(--color-text-warning); }
.styles_instructionsContainerUnavailable__EcA7N { background: rgb(30, 57, 50); border-radius: 16px; color: rgb(255, 255, 255); display: flex; flex-direction: column; align-items: center; padding: 24px; gap: 16px; }
.styles_driveUpUnavailableText__WhYY_ { margin-right: 90px; display: flex; width: 190px; flex-direction: column; gap: 4px; }
.styles_buttonWithIcon__VjesR { position: relative; display: flex; width: 275px; }
.styles_driveUpIcon__6QHVk { position: absolute; pointer-events: none; width: 135px; height: 110px; right: -25px; bottom: 5px; mask-image: linear-gradient(270deg, transparent 0px, rgb(0, 0, 0) 5%); }
.styles_participatingStoresBtn__GmtB3 { height: 32px; font-size: var(--typography-font-size-100); width: 100%; }
.styles_appCTAContainer__HGXsy { align-items: center; background-color: rgb(247, 247, 247); border-radius: 4px; display: flex; justify-content: center; padding: 12px 16px; }
.styles_appCTAContainer__HGXsy .styles_ctaMessage__GAELm { color: rgb(102, 102, 102); font-size: 14px; }
.styles_appCTAContainer__HGXsy .styles_ctaLink__CD370 { text-decoration: underline; white-space: normal; margin-left: 2px; }
.styles_storeModeRecsFilmstripContainer__riXkG { border-top: 1px solid rgb(214, 214, 214); padding: 16px; }
.styles_storeModeRecsFilmstripContainer__riXkG .styles_headingContainer__srIus { display: flex; align-items: center; justify-content: space-between; height: 40px; }
.styles_storeModeRecsFilmstripContainer__riXkG .styles_headingContainer__srIus .styles_heading__TyVjW { line-height: 1.25; font-size: 16px; color: rgb(51, 51, 51); display: flex; }
.styles_storeModeRecsFilmstripContainer__riXkG .styles_subHeading__b00kr { margin-bottom: 0px; font-weight: 400; font-size: 14px; color: rgb(102, 102, 102); }
.styles_storeModeRecsFilmstripContainer__ZtlOP { border-top: 1px solid rgb(214, 214, 214); padding: 16px; }
.styles_storeModeRecsFilmstripContainer__ZtlOP .styles_headingContainer__Sj7Za { display: flex; align-items: center; justify-content: space-between; height: 40px; }
.styles_storeModeRecsFilmstripContainer__ZtlOP .styles_headingContainer__Sj7Za .styles_heading__7p1Hc { line-height: 1.25; font-size: 16px; color: rgb(51, 51, 51); display: flex; }
.styles_storeModeRecsFilmstripContainer__ZtlOP .styles_subHeading__ShEWK { margin-bottom: 0px; font-weight: 400; font-size: 14px; color: rgb(102, 102, 102); }
.styles_storeModeTabsSpinner__fXx0d { margin-top: 50px; margin-bottom: 131px; }
.styles_imageAndInfoWrapper__OMSlK { display: flex; flex-direction: row; flex-grow: 1; }
@media (min-width: 480px) {
  .styles_imageAndInfoWrapper__OMSlK { flex-direction: column; }
}
.styles_imageWrapper___eoxC { width: 100%; height: fit-content; flex-direction: column; padding: 0px 16px 0px 0px !important; }
.styles_productCardBodyWrapper__74L6u { flex-grow: 1; position: relative; display: flex; flex-direction: column; width: 60%; }
.styles_productCardTitle__GdtJk { text-align: left; padding-top: 8px; font-weight: 400 !important; }
.styles_pricePromoFontAdjust__rXzkq > div:nth-child(2) { font-size: 14px; }
.styles_productGrid__yX6XV { display: flex; flex-wrap: wrap; justify-content: center; }
.styles_productCardWrapper__x8cL0 { border-bottom: 1px solid rgb(214, 214, 214); width: 100%; padding: 16px; }
@media (min-width: 480px) {
  .styles_productCardWrapper__x8cL0 { flex-basis: calc(33.3333% - 16px); max-width: calc(33.3333% - 16px); }
}
.styles_productGridPaginationContainer__5fH_1 { align-items: center; display: flex; justify-content: center; width: 100%; }
.styles_circleMemberContainer__M6YOn, .styles_circleNonMemberContainer__x_5lf { border-bottom: 1px solid rgb(214, 214, 214); display: flex; padding: 12px 20px; }
.styles_circleNonMemberContainer__x_5lf { flex-direction: column; }
.styles_getThisDealTitle__d8SfY { font-size: 14px; font-weight: 700; display: flex; align-items: center; margin: 0px !important; }
.styles_getThisDealSubtitle__J496Z { font-size: 14px; color: rgb(102, 102, 102); margin: 0px; }
.styles_offerInfo__rtD_y { color: rgb(51, 51, 51); font-size: var(--typography-body-md-bold-composite); font-weight: var(--typography-font-weight-bold); }
.styles_getStartedButton__Yb8af { margin-top: 12px !important; margin-bottom: 16px !important; }
.styles_offerCardTitle__K3TTq { font-size: 14px; font-weight: 700; color: rgb(204, 0, 0) !important; margin: 0px !important; }
.styles_offerDetailsContainer__Md6eN { display: flex; align-items: center; padding-right: var(--space-padding-container-lg); }
.styles_offerMessaging__E72_0 { font-size: 14px; color: rgb(102, 102, 102); }
.styles_offerTerms__L67Nm { display: block; font-size: 14px; text-decoration: underline; color: rgb(102, 102, 102); }
.styles_legalCopy__yjS0_ { font-size: 14px; color: rgb(102, 102, 102); overflow-wrap: break-word; }
.styles_productCardContainer__zN4lB { padding: 16px; display: flex; gap: 8px; border-bottom: 1px solid rgb(214, 214, 214); }