.styles_styledFulfillmentText__fdyMg { font-size: var(--typography-caption-font-size); line-height: var(--space-margin-container-xl); }
.styles_exclusiveFulfillment__yoMhh { font-size: var(--typography-caption-font-size); margin: var(--space-margin-container-sm) 0; }
.styles_styledRow__C1S_G { align-items: baseline; }